<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Feats With Friends | Create and compete over records set all over the world.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="public/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="public/stylesheets/custom.css" rel="stylesheet">
    <style type="text/css">
       
    body {
		padding-top: 50px;
        padding-bottom: 0px;
    }
	
    </style>
    <link href="public/stylesheets/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  </head>


  <body>

  
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="single_signup.html"><img alt="Feats of" src="public/images/featsof.png" style="height:38px"></a>
          <div class="nav-collapse">
          </div>
          
          <div class="nav-collapse pull-right">
            <ul class="nav">
              <li class="dropdown">
              <a href="#"
              class="dropdown-toggle"
              data-toggle="dropdown">
              My Account
              <b class="caret"></b>  
              </a>
                <ul class="dropdown-menu">
                </ul>
              </li>
            </ul>
          </div>

        </div><!--/.nav-collapse -->
      </div>
    </div>
    
    <div class="background-unit">
      <div class="container">
        <div class="row-fluid">
          <div class="span12">
            <div class="top-well">
               <center><h3>The easiest, most fun way to compete with<br> your friends when you are and aren't together.</h3></center>
            </div>
            <div class="well1">
              <h1>AN INTERACTIVE RECORD BOARD</h1>
              <br>
<h2>FeatsWithFriends is an interactive record board that allows you to create and compete over location based challenges in your city and around the world.<br>
<br>At the heart of Feats With Friends are location based challenges called Feats.  Feats can be created by anybody, but must take place at a physical location and be measurable by time (shortest or longest amount of time) or score (lowest or highest score).<br>
<br>
- The fastest time running across the Key Bridge.<br>
- The longest time holding you breath in the Lincoln Memorial Reflecting Pool.<br>  
- The most push ups on the White House lawn.<br>  
- The lowest golf score on hole nine at the Burke Lake golf course.<br>
<br>
Once a Feat is created, others can go the location where the feat took place, and attempt it. Once more than person records a Feat attempt, the competition begins as one or more persons battle over their respective postion on the record board. <a href="#">See it in action.</a></h2> 
<hr>

<h1>CREATING A FEAT</h1>
<br>
<h2>In order to create a Feat, you must first locate where the Feat took place on our map by searching for it's name and/or address.<br>
<br>
For example, let's say you want to create a Feat for the fastest time to eat a burger at Big Buns located in Arlington, VA.  Search Big Buns, Arlington, VA.  If no results are found, enter Big Buns' address, 4401 Wilson Blvd. Arlington, VA.<br>
<br>
Occasionally there will be complications regarding our mapping system.<br>
<br>
For example, let's say you want to create a FEAT for the fastest person to swim accross the Potamac River from the DC to Virginia side, Google Maps will locate another part of the Potomac River.  The best way to address this problem is to create the Feat using the starting location, for example, Jack's Boathouse on the Georgetown Waterfront.<br>
<br>
We are constantly working to create a better, more user friendly mapping experience.  If you have any ideas please email us at <a href="#">feedback@featswithfriends.com</a></h2>
<hr>
<h1>DESCRIBING A FEAT</h1>
<br>
<h2>After entering the Feat location, provide a name and description of the Feat. Please be as detailed as possible in your Feat description.<br>
<br>
For example, let's say I am creating a Feat for the fastest time running across the Brooklyn Bridge. You would want to clearly describe where both the starting and finish line are located. Below is an example.<br>
<br>
FEAT: The fastest time running across the Brooklyn Bridge.<br>
<br>
FEAT DESCRIPTION: The starting line is located on the Brooklyn side of the bridge where it says "Welcome to Brooklyn" on the concrete. The finish line is located where the wooden plank section of the bridge ends.<br>
<br>  
We will be adding the ability to upload photos to the Feat description soon in order to help you better describe the Feat to other people.<br>
<br>
Lastly, indicate how the Feat is measured, by time (lowest or highest) or score (lowest or highest).</h2>
<hr>


<h1>RECORDING A FEAT ATTEMPT</h1>
<br>
<h2>After attempting a Feat, simply submit the result and either upload a picture or YouTube video link of you attempting the feat.</h2>
<hr>


<h1>VALIDATING A FEAT ATTEMPT</h1>
<br> 
<h2>After recording a Feat attempt, another person who witnessed the effort must validate it by simply signing in to their Feats With Friends account, locate your Feat attempt, and click "validate this Feat."<br>
<br> 
There are three preferred ways to validate a Feat attempt:<br>
<br> 
(1) Record your attempt, upload a picture of you attempting the Feat, and have an eyewitness validate the Feat.<br>
(2) Record your attempt, upload a YouTube video link of you attempting the Feat, and have an eyewitness validate the Feat.<br>
(3) Upload a YouTube video link of you completing the entire Feat from start to finish.<br>
<br>
Non-validated Feat attempts may be recorded, however your friends and other users may be suspicious of your attempt.</h2>
<hr>
<h1>FRIENDLY COMPETITION IS INGRAINED IN EVERYTHING WE DO</h1>
<br>
<h2>Believe it or not, we built Feats With Friends to solve a real problem: having to physically be with other people in order to compete with them.  While this remains the case for several sports and activities that arent possible with just one person, it doesn't have to be the case for everything else.<br>
<br>
We also believe that while competing with strangers is fun, competing with friends drives us even more. We will keep this in mind as we continue to develop Feats With Friends.</h2> 

            </div>
          </div>
        </div>
      </div>
    </div>



   <footer>
   
   <div class="footer-unit">
     <div class="container">
       <div class="row-fluid">
         <div class="span3">
           <h1><em>Feats With Friends</em></h1>
           <a href="work.html"/><h2>How It Works</h2></a>
           <a href="terms.html"/><h2>Terms Of Service</h2></a>
           <a href="terms.html#privacy"/><h2>Privacy Policy</h2></a>
         </div>
         <div class="span4">
           <h1><em>Help Us Build A Better Website</em></h1>
           <a href="report.html"/><h2>Report A Bug</h2></a>
           <a href="mailto:feedback@featswithfriends.com"><h2>feedback@featswithfriends.com</h2></a>
         </div>
         <div class="span4">
           <h1><em>Connecting With Us</em></h1>
           <a href="http://www.twitter.com/featsof" onclick="window.open('https://twitter.com/FeatsOf','popup','width=870,height=900,scrollbars=yes,resizable=yes'); return false"/><h2>@featsof</h2></a>
           <a href="http://www.facebook.com/featswithfriends" onclick="window.open('https://facebook.com/featswithfriends','popup','width=870,height=900,scrollbars=yes,resizable=yes'); return false"/><h2>facebook</h2></a>
         </div>
       </div>
     </div>
   </div>
  
      
   </footer>
  
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
  <script src="assets/js/bootstrap-transition.js"></script>
  <script src="assets/js/bootstrap-alert.js"></script>
  <script src="assets/js/bootstrap-modal.js"></script>
  <script src="assets/js/bootstrap-dropdown.js"></script>
  <script src="assets/js/bootstrap-scrollspy.js"></script>
  <script src="assets/js/bootstrap-tab.js"></script>
  <script src="assets/js/bootstrap-tooltip.js"></script>
  <script src="assets/js/bootstrap-popover.js"></script>
  <script src="assets/js/bootstrap-button.js"></script>
  <script src="assets/js/bootstrap-collapse.js"></script>
  <script src="assets/js/bootstrap-carousel.js"></script>
  <script src="assets/js/bootstrap-typeahead.js"></script>

  </body>
 
</html>
