<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="single_signup.html"><img alt="Feats of" src="assets/img/featsof.png" style="height:38px"></a>
      <div class="nav-collapse">
        <ul class="nav">
        <form class="navbar-search pull-left">
        <input type="text" class="search-query input-xlarge" placeholder="Search for places, feats and users">
        </form>
        </ul>
      </div>
      
      <div class="nav-collapse pull-right">
        <ul class="nav">
          <li><a href="featmap.html">Search Feats</a></li>
          <li><a href="newfeat.html">Create a Feat</a></li>
          <li><a href="user.html">My Feats</a></li>
          <li><a href="user.html">My Profile</a></li>
        </ul>
      </div>

    </div><!--/.nav-collapse -->
  </div>
</div>
    
  
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="craig-unit">
        <img src="assets/img/featmap.png" width="100%" alt="featsof..."/>
      </div>
    </div>
  </div>
</div>
    
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="craig-unit">
        <div class="scott-unit">
        <h1>Create a new feat</h1>
        <br>
        <form class="form">
        <fieldset>
          <div class="control-group">
          <label class="control-label" for="input02">Address</label>
            <div class="controls">
            <input type="text" class="input-xlarge" id="input02" placeholder="Click on the map to enter address">
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="input01">Name of place where feat took place</label>
            <div class="controls">
              <input type="text" class="input-xxlarge" id="input01" placeholder="i.e. The White House, Key Bridge, Iron Horse Taproom">
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="input01">The feat</label>
            <div class="controls">
              <textarea class="input-xxlarge" id="textarea" rows="1" placeholder="i.e. The most push ups, The fastest time running accross, The fastest pint"></textarea>
            </div>
          </div>
          
          <div class="control-group">
            <div class="control-group">
              <label class="control-label" for="input01">Enter your result</label>
              <input type="text" class="input-xlarge" id="input01" placeholder="">
            </div>
          </div>
          
          <div class="control-group">
            <div class="control-group">
              <label class="control-label" for="input01">Validate your result with a link to a YouTube video</label>
              <input type="text" class="input-xxlarge" id="input01" placeholder="">
            </div>
          </div>
          <br>
          
          <button type="submit" class="btn btn-info btn-large">Create Feat</button>
          </fieldset>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>

