<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="single_signup.html"><img alt="Feats of" src="assets/img/featsof.png" style="height:38px"></a>
      
      <div class="nav-collapse pull-right">
        <ul class="nav">
          <li><a href="featmap.html">Search Feats</a></li>
          <li><a href="newfeat.html">Create a Feat</a></li>
          <li><a href="user.html">My Feats</a></li>
          <li><a href="user.html">My Profile</a></li>
        </ul>
      </div>

    </div><!--/.nav-collapse -->
  </div>
</div>


<div class="container">
   <div class="row">
    <div class="span4">
      <div class="scott-unit">
        <h1>Big Buns Gourmet Grill</h1>
        <h2>4401 Wilson Blvd. Arlington VA 22201</h2>
      </div>
    </div>
  </div>
  <br>
  
  
  
  
  <div class="row">
    <div class="span7">
      <div class="scott-unit">
        <h3>Fastest person to eat the "$20 burger."</h3>
        <br>
        1. goCraiggers &nbsp;&nbsp; 8:09 &nbsp;&nbsp; Watch this feat<br>
        2. goCraiggers &nbsp;&nbsp; 9:22 &nbsp;&nbsp; Watch this feat<br>
        3. goCraiggers &nbsp;&nbsp; 8:09 &nbsp;&nbsp; Watch this feat<br>
        4. goCraiggers &nbsp;&nbsp; 9:22 &nbsp;&nbsp; Watch this feat<br>
        5. goCraiggers &nbsp;&nbsp; 8:09 &nbsp;&nbsp; Watch this feat<br>
        <br>
        <h2><a href="featpage.html">See more results</a> &nbsp;or &nbsp;<a href="featpage.html">Submit a new result for this feat</a></h2>
        <hr>
        <h3>Fastest person to finish a can of PBR.</h3>
        <br>
        1. goCraiggers &nbsp;&nbsp; 10.1 &nbsp;&nbsp; Watch this feat<br>
        2. goCraiggers &nbsp;&nbsp; 11.3 &nbsp;&nbsp; Watch this feat<br>
        3. goCraiggers &nbsp;&nbsp; 12.1 &nbsp;&nbsp; Watch this feat<br>
        4. goCraiggers &nbsp;&nbsp; 13.0 &nbsp;&nbsp; Watch this feat<br>
        5. goCraiggers &nbsp;&nbsp; 14.7 &nbsp;&nbsp; Watch this feat<br>
        <br>
        <h2><a href="featpage.html">See more results</a> &nbsp;or &nbsp;<a href="featpage.html">Submit a new result for this feat</a></h2>
        <hr>
        <h3>Most slices of bacon ordered and eaten on a Big Buns burger.</h3>
        <br>
        1. goCraiggers &nbsp;&nbsp; 15 &nbsp;&nbsp; Watch this feat<br>
        2. goCraiggers &nbsp;&nbsp; 13 &nbsp;&nbsp; Watch this feat<br>
        3. goCraiggers &nbsp;&nbsp; 12 &nbsp;&nbsp; Watch this feat<br>
        4. goCraiggers &nbsp;&nbsp; 11 &nbsp;&nbsp; Watch this feat<br>
        5. goCraiggers &nbsp;&nbsp; 10 &nbsp;&nbsp; Watch this feat<br>
        <br>
        <h2><a href="featpage.html">See more results</a> &nbsp;or &nbsp;<a href="featpage.html">Submit a new result for this feat</a></h2>
      </div>
    </div>
    
    <div class="span5">
      <div class="scott-unit">
      <h3>Create a new feat at Big Buns</h3>
      <br>
      
        <form class="form">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="input01">The feat</label>
            <div class="controls">
              <textarea class="span4" id="textarea" rows="1" placeholder=""></textarea>
            </div>
          </div>
          
          <div class="control-group">
            <div class="control-group">
              <label class="control-label" for="input01">Enter your result</label>
              <input type="text" class="span4" id="input01" placeholder="">
            </div>
          </div>
          
          <div class="control-group">
            <div class="control-group">
              <label class="control-label" for="input01">Validate your result with a link to a YouTube video</label>
              <input type="text" class="span4" id="input01" placeholder="">
            </div>
          </div>

          <button type="submit" class="btn btn-info btn-large">Create Feat</button>
        </fieldset>
        </form>
      </div>
    </div>
  </div>

<br>
<br>
