<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="single_signup.html"><img alt="Feats of" src="assets/img/featsof.png" style="height:38px"></a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="howitworks.html">How It Works</a></li>
          <li><a href="signin.html">Terms of Service</a></li>
        </ul>
      </div>
          <div class="nav-collapse pull-right">
            <ul class="nav">
              <li><%= link_to "Sign in with Facebook", "/auth/facebook" %></li>
            </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <ul class="span3">
    </ul>
    <ul class="span4">
      <div class="well">
      <h2>Make history.</h2>
      <h2>Win glory.</h2>
      <h2>Become a champion.</h2>
      <br>
        <form class="form">
        <input type="email" class="input-large" placeholder="Email or Username">
        <input type="password" class="input-large" placeholder="Password">
        <label class="checkbox">
        <input type="checkbox"><font color="#999999">Remember me &middot; <a href="">Forgot password?</a></font>
        </label>
      	<br>
        <button type="Sign Up" class="btn btn-large btn-info">Sign In</button>
        </form>
        <a href="single_signup.html">Not a member yet? Sign up here.</a>
      </div>
    </ul>
  </div>
</div>
