<br>
<br>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <ul class="span3">
    </ul>
    <ul class="span4">
      <div class="well">
        <h2>Make history.</h2>
        <h2>Win glory.</h2>
        <h2>Become a champion.</h2>
        <br>
        <br>
        <%= link_to "Sign in with Facebook", "/auth/facebook" %>
        <br>
        <%= link_to "Not a member yet? Sign up here.", "/signup"%>
      </div>
    </ul>
  </div>
</div>
