<div class="background-unit">
  <div class="container">
    <div class="row">
	  <div class="span6 offset2">
        <div class="home-well">
          <center>
          <h1>An interactive online record board.</h1>
		  <br>
          <h2>Compete with your friends over personal<br>
		  records in your city and around the world.</h2>
          <br>
          <%= button_to "Sign In with Facebook", "/auth/facebook", 
					class: "btn btn-large btn-primary"%>
          <%= link_to "Not a member yet? Sign up here.", "/signup"%>
          </center>
		</div>
	  </div>
    </div>
  </div>
</div>
