<%= render 'shared/map_script', {obj_list: @feats} %>
<div class="background-unit">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
		  	<%= link_to(( image_tag @user.image ), @user ) %>
		  	<%= link_to "#{@user.username}", @user %> has created the following
		 			feats:
			</div>
	  </div>
    <br>
	  <div class="row-fluid">
      <div class="span4">
		  	<div class="craig-unit">
					<% @feats.each do |f| %>
						<h2><%= link_to f.name, feat_path( f.id ) %></h2>
					<% end %>
		  	</div>
	    </div>
      <div class="span8">
	      <div class="map-well"> 
	        <div id="map_canvas"></div>
        </div>
	    </div>
	  </div>
  </div>
</div>

