/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

.statictop-well {
  min-height: 0px;
  padding: 20px 25px 20px 25px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: url(greyline.png);
  background-repeat: repeat;
  border-bottom: 1px solid #E6E6E6;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  -webkit-border-top-left-radius: 6px;
  -moz-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-box-shadow: 1px 0px 1px 1px rgba(0, 0, 0, 0.05), -1px -1px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 0px 1px 1px rgba(0, 0, 0, 0.05), -1px -1px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 0px 1px 1px rgba(0, 0, 0, 0.05), -1px -1px 1px 1px rgba(0, 0, 0, 0.05);  	
}

.statictop-well h1 {
  font-size: 35px;
  line-height: 1.2;
  color: #333;
  font-weight: 200;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}



.staticbottom-well {
  min-height:10px;
  min-width:  10px;
  padding: 15px 25px 15px 25px;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #FFF;
  #border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05), -1px 0px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05), -1px 0px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05), -1px 0px 1px 1px rgba(0, 0, 0, 0.05);
}

.staticbottom-well h1 {
  font-size: 18px;
  line-height: 1.3;
  color: #333;
  font-weight: 500;
}

.staticbottom-well h2 {
  font-size: 15px;
  line-height: 1.3;
  color: #333;
  font-weight: 400;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}



.background-unit {
  min-height: 700px;
  padding: 40px;
  margin-left: -20px;
  margin-right: -20px;
  background-image: url(background.jpg);
  background-repeat: repeat;
      -moz-box-shadow: inset 0 10px 10px -10px #999;
  -webkit-box-shadow: inset 0 10px 10px -10px #999;
  box-shadow: inset 0 10px 10px -10px #999;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}



.roundedwhite-well {
  min-height:10px;
  min-width:  10px;
  padding: 30px 25px 32px 25px;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #FFF;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05), -1px -1px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05), -1px -1px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05), -1px -1px 1px 1px rgba(0, 0, 0, 0.05);
}
.roundedwhite-well h1 {
  font-size: 18px;
  line-height: 1.3;
  color: #333;
  font-weight: 500;
}

.roundedwhite-well h2 {
  font-size: 15px;
  line-height: 1.3;
  color: #333;
  font-weight: 400;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}


.footer-unit {
  min-height: 25px;
  padding: 10px 15px 30px 15px;
  margin-left: -20px;
  margin-right: -20px;
  background-color: #333;
  border-top-style: solid;
  border-color: #000;
  border-width: 1px; 
}

.footer-unit h1 {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 2;
  font-weight: 400;
  letter-spacing: 0px;
  color: #CCC;
}

.footer-unit h2 {
  font-size: 14px;
  line-height: 1.4;
  font-weight:400;
  color: #CCC;
}

.footer-unit h3 {
  font-size: 8px;
  line-height: 1.3;
  color: #CCC;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}


.craig-unit {
  min-height: 20px;
  padding: 3px 15px 4px 15px;
  margin-bottom: 20px;
  background: #FFF;
  border: 1px solid #CCC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05), -1px -1px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05), -1px -1px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05), -1px -1px 1px 1px rgba(0, 0, 0, 0.05);
}

.craig-unit h1 {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0px;
  font-weight: 400;
  color: #000;
}

.craig-unit h2 {
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0px;
  font-weight: 400;
  color: #000;
}

.craig-unit h3 {
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0px;
  font-weight: 300;
  color: #000;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}


.home-well {
  min-height: 20px;
  min-width: 20px;
  padding: 10px 18px 10px 18px;
  background-color: #333;
  margin-bottom: 0px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.home-well h1 {
  margin-bottom: 0;
  font-size: 33px;
  line-height: 1.1;
  font-weight: 200;
  letter-spacing: 0px;
  color: #FFF;
}

.home-well h2 {
  font-size: 28px;
  line-height: 1.1;
  font-weight:100;
  color: #FFF;
  letter-spacing: 1px;
}


.map-well {
  min-height: 20px;
  min-width: 20px;
  padding: 3px 3px 3px 3px;
  background-color: #FFF;
  margin-bottom: 0px;
  border: 1px solid #CCC;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05), -1px -1px 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05), -1px -1px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05), -1px -1px 1px 1px rgba(0, 0, 0, 0.05);
}


.hr1 {
  margin: 20px 0px 20px 0px;
  border: 0;
  border-bottom: 1px dashed #999;
  width: 100%;
}


.btn-small {
  margin-top: 3px;
  margin-bottom: -7px;
  padding: 7px 12px 9px 12px;
  font-size: 15px;
  line-height: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.btn-large {
  padding: 12px 45px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 200;
  line-height: normal;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


.navbar-inner {
  min-height: 60px;
  padding: 7px, 20px, 6px, 20px;
  background-color: rgba(51,51,51,1);
  background-image: none;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 7px 5px 5px 12px;
  margin-left: -20px;
  font-size: 0px;
  font-weight: 200;
  line-height: 1;
  color: #999999;
}

.navbar .nav > li > a {
  float: none;
  padding: 19px 10px 15px 10px;
  line-height: 19px;
  color: #CCC;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar .nav > li > a:hover {
  color: #FFF;
  text-decoration: none;
  background-color: transparent;
}

a {
  color: #0066ff;
  text-decoration: none;
}

a:hover {
  color: #0066ff;
  text-decoration: underline;
}

alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 0px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert-heading {
  color: inherit;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}


/* forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* misc. */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
