<%= render 'shared/map_script', {obj_list: @attempts} %>
<div class="background-unit">
  <div class="container">
	  <div class="row-fluid">
      <div class="span12">
		  	<%= link_to(( image_tag @user.image ), @user ) %>
		  	<%= link_to "#{@user.username}", @user %> has attempted the following
		 			feats:
	    </div>
	  </div>
	  <br>
	  <div class="row-fluid">
      <div class="span4">
		  	<div class="craig-unit">
					<% @attempts.each do |a| %>
						<h2><%= link_to a.feat.name, feat_path( a.feat.id ) %></h2>
					<% end %>
	      </div>
			</div>
	    <div class="span8">
	      <div class="map-well"> 
	        <div id="map_canvas"></div>
        </div>
	    </div>
	  </div>
  </div>
</div>
