<%= render 'shared/map_script', {obj_list: [@feat]}%>
<div class="background-unit">
  <div class="container">
	  <div class="row">
      <div class="span4">
		  	<div class="craig-unit">
		    	<%= render 'layouts/feat_info' %>
			  </div>
				<div class="craig-unit">
          <h2><strong>Record your attempt.</strong></h2>
					<div class="hr1"></div>
    			<%= render 'attempt_form' %>
  			</div>
			</div>				
   		<div class="span8">
     		<div class="map-well"> 
       		<div id="map_canvas"></div>
        </div>
   		</div>
 		</div>
  </div>
</div>
