<%= render 'shared/single_loc_map_script' %>
<div class="container">
  <div class="row">
    <div class="span5">
      <div class="scott-unit">
				<%= render 'layouts/feat_info' %>
				<br>
	      <br>
				<div class="row">
					<div class="span4">
						<%= render 'form' %>
					</div>
				</div>				
			</div>
    </div>
		<div id="map_canvas" class="span7"></div>
  </div>
</div>
<br>
<br>
