<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="single_signup.html"><img alt="Feats of" src="assets/img/featsof.png" style="height:38px"></a>
      
      <div class="nav-collapse pull-right">
        <ul class="nav">
          <li><a href="featmap.html">Search Feats</a></li>
          <li><a href="newfeat.html">Create a Feat</a></li>
          <li><a href="user.html">My Feats</a></li>
          <li><a href="user.html">My Profile</a></li>
        </ul>
      </div>

    </div><!--/.nav-collapse -->
  </div>
</div>
    

<div class="container">
   <div class="row">
    <div class="span4">
      <div class="scott-unit">
        <h1>Big Buns Gourmet Grill</h1>
        <h2>4401 Wilson Blvd. Arlington VA 22201</h2>
      </div>
    </div>
  </div>
  <br>      
  <div class="row">
    <div class="span7">
      <div class="scott-unit">
        <h3>Fastest person to eat the "$20 burger."</h3>
        <br>
        1. goCraiggers &nbsp;&nbsp; 8:09 &nbsp;&nbsp; Watch this feat<br>
        2. goCraiggers &nbsp;&nbsp; 9:22 &nbsp;&nbsp; Watch this feat<br>
        3. goCraiggers &nbsp;&nbsp; 8:09 &nbsp;&nbsp; Watch this feat<br>
        4. goCraiggers &nbsp;&nbsp; 9:22 &nbsp;&nbsp; Watch this feat<br>
        5. goCraiggers &nbsp;&nbsp; 8:09 &nbsp;&nbsp; Watch this feat<br>
        6. goCraiggers &nbsp;&nbsp; 8:09 &nbsp;&nbsp; Watch this feat<br>
        7. goCraiggers &nbsp;&nbsp; 9:22 &nbsp;&nbsp; Watch this feat<br>
        8. goCraiggers &nbsp;&nbsp; 8:09 &nbsp;&nbsp; Watch this feat<br>
        9. goCraiggers &nbsp;&nbsp; 9:22 &nbsp;&nbsp; Watch this feat<br>
        10. goCraiggers &nbsp;&nbsp; 8:09 &nbsp;&nbsp; Watch this feat<br>
        11. goCraiggers &nbsp;&nbsp; 8:09 &nbsp;&nbsp; Watch this feat<br>
        12. goCraiggers &nbsp;&nbsp; 9:22 &nbsp;&nbsp; Watch this feat<br>
        13. goCraiggers &nbsp;&nbsp; 8:09 &nbsp;&nbsp; Watch this feat<br>
        14. goCraiggers &nbsp;&nbsp; 9:22 &nbsp;&nbsp; Watch this feat<br>
        15. goCraiggers &nbsp;&nbsp; 8:09 &nbsp;&nbsp; Watch this feat<br>
        16. goCraiggers &nbsp;&nbsp; 8:09 &nbsp;&nbsp; Watch this feat<br>
        17. goCraiggers &nbsp;&nbsp; 9:22 &nbsp;&nbsp; Watch this feat<br>
        18. goCraiggers &nbsp;&nbsp; 8:09 &nbsp;&nbsp; Watch this feat<br>
        19. goCraiggers &nbsp;&nbsp; 9:22 &nbsp;&nbsp; Watch this feat<br>
        20. goCraiggers &nbsp;&nbsp; 8:09 &nbsp;&nbsp; Watch this feat<br>
      </div>
    </div>
    
    <div class="span5">
      <div class="scott-unit">
      <h3>Submit a new result for this feat</h3>
      <br>
      
        <form class="form">
        <fieldset>
          <div class="control-group">
            <div class="control-group">
              <label class="control-label" for="input01">Enter your result</label>
              <input type="text" class="span4" id="input01" placeholder="">
            </div>
          </div>
          
          <div class="control-group">
            <div class="control-group">
              <label class="control-label" for="input01">Validate your result with a link to a YouTube video</label>
              <input type="text" class="span4" id="input01" placeholder="">
            </div>
          </div>

          <button type="submit" class="btn btn-info btn-large">Submit</button>
        </fieldset>
        </form>
      </div>
    </div>
  </div>

<br>
<br>
