<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="single_signup.html"><img alt="Feats of" src="assets/img/featsof.png" style="height:38px"></a>
      <div class="nav-collapse">
        <ul class="nav">
        <form class="navbar-search pull-left">
        <input type="text" class="search-query input-xlarge" placeholder="Search for places, feats and users">
        </form>
        </ul>
      </div>
      
      <div class="nav-collapse pull-right">
        <ul class="nav">
          <li><a href="featmap.html">Search Feats</a></li>
          <li><a href="newfeat.html">Create a Feat</a></li>
          <li><a href="user.html">My Feats</a></li>
          <li><a href="user.html">My Profile</a></li>
        </ul>
      </div>

    </div><!--/.nav-collapse -->
  </div>
</div>
    
  
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="craig-unit">
        <img src="assets/img/featmap.png" width="100%" alt="featsof..."/>
      </div>
    </div>
  </div>
</div>
    
<div class="container">
  <div class="row">
    <div class="span7">
      <div class="craig-unit">
        <div class="scott-unit">
        <h1><a href="placepage.html">Big Buns Gourmet Grill</a></h1>
        <h2>4401 Wilson Blvd. Arlington VA 22201</h2>
        <br>
        <h4>1. Fastest person to finish the $20 burger.</h4>
        <h4>2. Fastest person to finish a can of PBR.</h4>
        <h4>3. Most slices of bacon ordered and eaten on a Big Buns burger.</h4>
        <br>
        <h2><a href="placepage.html">Create a new feat at this location</a></h2>
        </div>
      </div>
    </div>

    <div class="span5">
      <div class="craig-unit">
        <div class="scott-unit">
        <h3>Trending Feats</h3>
        <br>
        <h4>Fastest lap around Roosevelt Island.</h24
        ><h4>Most push ups on the White House lawn.</h4>
        <h4>Fastest pint of Guinness at the Dubliner.</h4>
        <br>
        <h2><a href="newfeat.html">Create a new feat</a></h2>
        </div>
      </div>
    </div>
  </div>
</div>    
<br>
<br>
<br>
