<%= render 'shared/map_script', { obj_list: @feats } %>

<div class="background-unit">
	<div class="container">
	  <div class="row-fluid">
      <div class="span4">
		  	<div class="craig-unit">
	        <h1>The following places exist at:</h1>
					<br>
					<%= "#{session[:address]}" %>:
					<br>
          <br>
					<% @locations.each do |l| %>
						<h2><%= link_to l.name, select_location_path( l.id ) %></h2>
					<% end %>
					<h1>or</h1>
					<h2><%= link_to 'Create A New Location', new_location_path %></h2>
		  </div>
	    </div>
        <div class="span8">
	      	<div class="map-well"> 
	        	<div id="map_canvas"></div>
          </div>
	    	</div>
	  </div>
    </div>
  </div>