<head>
  <title>Feats With Friends | Create and compete over records set all over the world.</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<%= yield :page_specific_js %>
  <%= csrf_meta_tags %>
 <meta name="google-site-verification" content="wLYGEE_ExR7TGaJYXtoX5DNudoiyJ2HtEytvDDFEwc4" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le styles -->
  <style type="text/css">
	  #map_canvas { height: 500px }
  </style>

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="app/assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="app/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="app/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="app/assets/ico/apple-touch-icon-57-precomposed.png">
</head>
