<% unless @attempt.user.id == session[:user_id] %>
	<% if @attempt.validations.where(user_id: session[:user_id]).first.nil? %>
		<%= link_to "Validate this record", new_validation_path %>
	<% end %>
<% end %>
<% unless @validations.empty? %>
	<br>
	<div class="row-fluid">
		<div class="span12">
			<h2>Validations:</h2>
		  <% @validations.each do |v| %>
			  <%= link_to "#{v.user.username}", user_path(v.user.id) %>
			  <%= "#{v.comment}" %><br>
			  <% if v.user.id == session[:user_id] %>
			    <h2><%= link_to "Delete Validation", validation_path(v.id), confirm: 'Are you sure?', method: 'delete' %></h2>
			  <% end %>
	    <% end %>
		</div>
	</div>
<% end %>
